html
	overflow-x: hidden
body
	font-family: $baseFont
	font-size: 18px
	color: $black
.container
	+wrapper()
.row
	+row-flex()
.icon
	display: inline-block
svg
	display: block
	width: 100%
	height: 100%