- var phone = '+7 800 555-55-55';
- var phoneLink = 'tel:'+phone.replace(/[-/ /]/g,'');
- var email = 'info@mysite.ru';
- var emailLink = 'mailto:'+email+'';
doctype html
html(lang='ru', class="no-js")
	include head
	body
		main.main
			block content
		script(src="js/jquery.min.js")
		script(src="js/scripts.js")