extends ../templates/template
block vars
	- var title = 'Title';
	- var description = 'Description';
block content
	//Header
	include ../blocks/header/header.pug
	//End Header
	//Hero
	//footer
	include ../blocks/footer/footer.pug
	//End footer