@mixin font-face($font-family, $file-path, $style: normal)
	@font-face
		font-family: '#{$font-family}'
		font-style: $style
		font-display: swap
		src: url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.woff') format('woff')


@mixin mb($n)
	margin-bottom: $n
	&:last-child
		margin-bottom: 0px
@mixin mr($n)
	margin-right: $n
	&:last-child
		margin-right: 0px
=ie()
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
		@content
=ios()
	@supports (-webkit-appearance:none)
		@content

=webp()
	.webp-support-js &
		@content
=nowebp()
	.webp-nosupport-js &
		@content